html, body {
	height: 100%;
}

.wrapper {
	height: 100%;
	background-color: black;
	border: 1px solid black;
}

.header {
	height: 20%;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 4px;
	border: 6px solid red;
	background-color: black;
	background-image: url(images/ttt-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 97%;
}

.header h1 {
	font-family: Arial;
	font-size: 50px;
	color: green;
	text-align: center;
	margin-bottom: -25px;
}

.header h2 {
	font-family: Arial;
	font-size: 30px;
	color: orange;
	text-align: center;
}

.gameboard {
	height: 75%;
	width: 55%;
	margin: 0 auto;
	border: 6px solid green;
}

.cell {
	display: inline-block;
	float: left;
	height: 31%;
	width: 32%;
	margin-left: 0.2%;
	margin-top: 0.5%;
	border: 4px solid blue;
	color: white;
}

.cellClick {
	background-color: green;
}

.cell img {
	display: table-cell;
	height: 100%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}



@media (max-width: 980px) {
	.header {
		border: 4px solid red;
	}

	.gameboard {
		border: 4px solid green;
	}

	.cell {
		border: 2px solid blue;
	}
} 

@media (max-width: 854px) {
	.header {
		border: 3px solid red;
	}

	.gameboard {
		border: 3px solid green;
	}

	.cell {
		border: 2px solid blue;
	}
}

@media (max-width: 790px) {
	.header {
		border: 2px solid red;
	}

	.gameboard {
		border: 2px solid green;
	}

	.cell {
		border: 1px solid blue;
	}
}