html, body {
	height: 100%;
	background-image: url('images/night-sky.jpg');
	background-size: cover;
  background-repeat: none;
  background-attachment: fixed;
}

div h1 {
	color: rgba(255,80,80,0.4);
	text-align: center;
	font-family: Arial;
}

div h2 {
	color: rgba(255,80,80,0.4);
	text-align: center;
	font-family: Arial;
}

div img {
	margin-left: 25%;
	width: 50%;
	height: 50%;
}

.wrapper {
	height: 100%;
}

.header {
	height: 60px;
	width: 380px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: rgba(256,256,256,0.15);
	border-radius: 5px;
	overflow: hidden;
}

.header h1 {
	color: rgba(255,80,80,0.5);
	font-family: Arial;
	font-size: 50px;
	text-align: center;
	margin-top: 0;
}

.header h2 {
	font-family: Arial;
	font-size: 30px;
	color: orange;
	text-align: center;
}

.game-container {
	/*	background-color: purple;*/
	width: 907px;
	min-height: 450px;
	margin-left: auto;
	margin-right: auto;
}

.gameboard {
	background-color: rgba(256,256,256,0.15);
	float: left;
	height: 462px;
	width: 500px;
	margin: 0 auto;
	padding-left: 0.7%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.cell {
	background-color: rgba(255,80,80,0.4);
	display: inline-block;
	float: left;
	height: 148px;
	width: 160px;
	margin-left: 4px;
	margin-top: 4px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}


.cell img {
	display: table-cell;
	height: 100%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.one{
  background-image: url('images/ufo-icon.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}
.two{
  background-image: url('images/rocket-icon.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.left {
	background-color: rgba(256,256,256,0.15);
  float: left;
  width: 200px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.right {
	background-color: rgba(256,256,256,0.15);
  float: left;
  width: 200px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-small {
	display: none;
}

.bottom {
/*	background-color: orange;*/
	clear: both;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: -20px;
	height: 15%;
	width: 55%;
}

.resetbutton {
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(256,256,256,0.15);
	color: rgba(255,80,80,0.5);
	font-family: "Arial Black";
	font-size: 20px;
	width: 230px;
	height: 50px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
}

.bottom h1 {
	font-family: Arial;
	text-align: center;
	margin-top: 0;
}



@media screen and (max-width: 950px) {
  .header {
  	margin-top: 10px;
  }

  .game-container {
/*  	background-color: green;*/
  	height: 660px;
  	width: 500px;
  	margin-top: -15px;
  }

  .gameboard {
  	float: none;
  	border-radius: 5px;
  	height: 530px;
  }

  .left {
  	margin-left: auto;
  	margin-right: auto;
  	background-color: rgba(256,256,256,0.0);
  }

  .left h1 {
  	display: inline-block;
  	margin-left: 15px;
  	margin-right: 15px;
  	margin-top: 15px;
  	margin-bottom: 15px;
  }

  .left h2 {
  	display: inline-block;
  	margin-top: 5px;
  	margin-bottom: 15px;
  	font-size: 30px;
  }

  .right {
  	display: none;
  }

  .right-small {
  	display: inline-block;
  	float: right;
    width: 200px;
    margin-left: auto;
  	margin-right: auto;
  	margin-top: 0px;
  	margin-bottom: 0px;
/
  }

  .right-small h1 {
  	display: inline-block;
  	margin-left: 15px;
  	margin-right: 15px;
  	margin-top: 15px;
  	margin-bottom: 15px;
  }

  .right-small h2 {
  	display: inline-block;
  	margin-top: 0;
  	margin-bottom: 10px;
  	font-size: 30px;
  }

  .bottom {
  	margin-top: -120px;
  }

  .bottom h1 {
  	margin-top: -10px;
  }
}

@media screen and (max-width: 560px) {
  .header {
  	margin-top: 50px;
  	width: 320px;
  }

  .header h1 {
  	font-size: 36px;
  	margin-top: 8px;
  }

  .game-container {
  	margin-top: 20px;
  	width: 320px;
  	height: 520px;
  }

  .gameboard {
  	width: 320px;
  	height: 370px;
  }

  .cell {
  	height: 100px;
		width: 100px;
		margin-left: 4px;
		margin-top: 4px;
  }

  .left {
  	width: 160px;
  }

  .left h1 {
  	font-size: 18px;
  }

  .left h2 {
  	font-size: 18px;
  }

  .right-small {
  	width: 160px;
  }

  .right-small h1 {
  	font-size: 18px;
  }

  .right-small h2 {
  	font-size: 18px;
  }

  .bottom {
  	width: 320px;
  }

  .bottom h1 {
  	margin-top: 0;
  }
}








