html, body {
	height: 100%;
}

.wrapper {
	height: 100%;
	background-color: black;
	border: 1px solid black;
}

.header {
	height: 20%;
	width: 55%;
	margin: 0 auto;
	margin-bottom: 4px;
	border: 4px solid red;
	background-color: black;
	background-image: url(images/logo2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 97%;
}

.header h1 {
	font-family: Arial;
	font-size: 50px;
	color: green;
	text-align: center;
	margin-bottom: -25px;
}

.header h2 {
	font-family: Arial;
	font-size: 30px;
	color: orange;
	text-align: center;
}

.gameboard {
	height: 75%;
	width: 55%;
	margin: 0 auto;
	border: 4px solid green;
}

.cell {
	display: inline-block;
	float: left;
	height: 31%;
	width: 32%;
	margin-left: 0.2%;
	margin-top: 0.5%;
	border: 4px solid blue;
}

.cell img {
	display: table-cell;
	height: 100%;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}